<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins&display=swap" rel="stylesheet">
  @section('style')
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background: #F2F3F5;
        color: #060606;

        font-family: Poppins;
        -webkit-font-smoothing: antialiased;
      }

      .app-card {
        width: 100%;
        max-width: 40rem;
        background: #FFFFFF;
        margin: 2rem auto;
        padding: 2rem;
        border: 1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      h1 {
        margin-bottom: 1rem;
      }

      a {
        text-decoration: none;
        color: #1e96fc;
      }
    </style>
  @endsection
</head>
<body>
  <div class="app-card">
    <h1 style='text-align: center;'><span style="color: #43B581;">Profit</span><span style="color: #F04747;">Flow</span></h1>

    @!section('content')
  </div>
</body>
</html>