<h1>Hello {{ user.username }}.</h1>

<p>If you requested to change your password, please <a href='{{url}}'>click here</a>.</p>

<p>
  If you didn't, please be aware that someone might be trying to access your account. 
  If you are confident your password is strong and has not been leaked, you can ignore this e-mail.
</p>