@layout('layouts/email')

@section('content')
<h1>Bem vindo(a), {{ user.username }}!</h1>
<p>
  Obrigado por se registrar no ProfitFlow!
  <a href="{{url}}">Clique aqui</a> para verificar o seu endereço de e-mail e nunca mais perca o controle sobre as suas operações!
</p>
@endsection